#============= shell ==============
type shell_device, dev_type, mlstrustedobject;
allow shell sysfs_lowmemorykiller:file setattr;
allow shell sysfs_lowmemorykiller:file read;
allow shell sysfs_lowmemorykiller:file open;
allow shell ctl_default_prop:property_service set;
allow shell shell_device:chr_file { read write getattr ioctl};
allow shell rootfs:file entrypoint;
