#============= untrusted_app ==============
type untrusted_app_device, dev_type, mlstrustedobject;
allow untrusted_app untrusted_app_device:chr_file { read write open ioctl};
